<a href="https://colab.research.google.com/github/prachissharma/DataAnalyst/blob/main/Copy_of_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![INTTRVU_logo_Jupyter_notebook.jpg](attachment:648ea659-7592-45c1-bd76-18800c6768cd.jpg)

In [ ]:
 ### Please name your assignment file using the following format: Your Name_Assignment_Assignment Number. EX: INTTRVU_Assignment_1

# kindly perform coding in the blank cells provided below the questions. Once completed, please share this python file for review on mentor@inttrvu.ai

### 1. Create a list with numbers 1 to 10 in it ([1,2,3….10]) Write a for loop on this list to sum up all numbers in the list except 5 and 7. Print the result

In [ ]:
# Create a list with numbers 1 to 10
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Initialize sum
total = 0

# Loop through the list
for num in numbers:
    if num == 5 or num == 7:
        continue  # Skip 5 and 7
    total += num  # Add other numbers

# Print the result
print("Sum excluding 5 and 7 is:", total)

Sum excluding 5 and 7 is: 43

### 2. Write a while loop to create a list with numbers from 1 to 100. When inserting new number in the list, skip every number which is divisible by 3. Print the result. Tip: To check whether number is divisible by 3 you can use % operator

In [ ]:
# Initialize variables
num = 1
result = []

# Use while loop to go from 1 to 100
while num <= 100:
    if num % 3 != 0:
        result.append(num)  # Add number if not divisible by 3
    num += 1

# Print the result
print(result)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

### 3. Write a program that prints the first 10 natural numbers.

In [ ]:
# Initialize counter
num = 1

# Print numbers from 1 to 10
while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

### 4.Write a python code to print the summation of all the numbers from 1 to 100

In [ ]:
# Initialize total sum
total = 0

# Loop from 1 to 100
for num in range(1, 101):
    total += num

# Print the result
print("Sum of numbers from 1 to 100 is:", total)

Sum of numbers from 1 to 100 is: 5050

### 5.Write a Python program to find the common elements between two lists.
list1 = [11,2,190,43,23,65,19] list2 = [12,11,121,190,43,23,76,190]

In [ ]:
# Define two lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Find intersection
common_elements = list(set(list1) & set(list2))

# Print result
print("Common elements (Intersection):", common_elements)

Common elements (Intersection): [4, 5]

### 6.Write a python code to create separate lists of Even and Odd numbers from a list. [21,44,22,878,55,90,17,68,69,91]

In [ ]:
# Given list
numbers = [21, 44, 22, 878, 55, 90, 17, 68, 69, 91]

# Initialize empty lists for even and odd numbers
even_numbers = []
odd_numbers = []

# Loop through the numbers and separate them
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
    else:
        odd_numbers.append(num)

# Print the results
print("Even numbers:", even_numbers)
print("Odd numbers:", odd_numbers)

Even numbers: [44, 22, 878, 90, 68]
Odd numbers: [21, 55, 17, 69, 91]

### 7.Calculate the sum of all numbers in a list using a loop. [21,44,767,98,37]

In [ ]:
# Given list
numbers = [21, 44, 767, 98, 37]

# Initialize total sum
total = 0

# Loop through the list and add each number
for num in numbers:
    total += num

# Print the result
print("Sum of all numbers:", total)

Sum of all numbers: 967

### 8. Write a python code to check if a number is positive, negative, or zero.

In [ ]:
# Input a number
num = float(input("Enter a number: "))

# Check conditions
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: -1
The number is negative.

### 9. Find the length of the longest word in a string: ‘Data Science and Machine Learning’

In [ ]:
# Given string
text = 'Data Science and Machine Learning'

# Split the string into words
words = text.split()

# Find the longest word length
longest_length = 0
longest_word = ""

for word in words:
    if len(word) > longest_length:
        longest_length = len(word)
        longest_word = word

# Print result
print("Longest word:", longest_word)
print("Length of longest word:", longest_length)

Longest word: Learning
Length of longest word: 8

### 10.Write a program to calculate the sum of squares of all numbers from 1 to 10 using a while loop.

In [ ]:
# Initialize sum
sum_of_squares = 0

# Loop from 1 to 10
for num in range(1, 11):
    sum_of_squares += num ** 2
    print(sum_of_squares)

# Print the result
print("Sum of squares from 1 to 10 is:", sum_of_squares)

1
5
14
30
55
91
140
204
285
385
Sum of squares from 1 to 10 is: 385